/*Botão*/
.buttonhall {
    margin: 0%;
  }
  .buttonOne,
  .buttonTwo,
  .buttonThree,
  .buttonFour {
    background-color: #3981ec;
    padding: 10px; /* Utilizando padding em vez de porcentagem para espaçamento interno */
    height: 42vh; /* Tamanho máximo da altura dos botões (50% da altura da tela) */
    min-height: 20vh; /* Tamanho responsivo da altura dos botões (20% da altura da tela) */
    width: 49.7%; /* Tamanho inicial do botão (50% da largura da tela) */
    display: inline-block;
    margin: .95px;
    text-align: center;
    line-height: 42vh; /* Centralizando verticalmente o texto */
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .buttonOne,
    .buttonTwo,
    .buttonThree,
    .buttonFour {
      width: 100%; /* Botões ocupam a largura total da tela em telas menores que 768px */
      height: 20.75vh; /* Tamanho responsivo da altura dos botões para telas menores (15% da altura da tela) */
      line-height: 17vh;
    }
  }
  
  /*Animação botão*/
  .top a:hover,
  .top a:active,
  .down a:hover,
  .down a:active {
    background-color: #0252ca;
  }
  
  .text-button {
    font-family: Tahoma;
    text-decoration: none !important;
    font-size: 1rem; /* Utilizando tamanho de fonte relativo */
    color: #f7fff7;
  }
  
  a:link {
    text-decoration: none !important;
  }
  
  .botoes { 
    padding-top: 2px;
  }


/*
background-color: rgb(243, 234, 234);
background-color: rgb(228, 216, 216);
border-right: solid 2px black;

.botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
*/