.imgNav { 
    width:50px;
}

.logoNav { 
    padding-left: 7px;
    color: white;
}

.removeUnderline a { 
    text-decoration: none;
}

.d-flex { 
    text-align: center;
}
.welcome {
    color: white;
    padding-right: 25px;    
}

.reduzido { 
    background-color: green;
    padding-top: 10px;
}